nav {
  justify-content: left;
}

nav ul {
  display: flex;
  list-style: none;

  li {
    margin-left: 20px;
    font-family: 'Open Sans';
  }
}

.start {
  border: 1px solid black;
  padding: 9px 20px;
}

.other {
  padding: 9px 20px;
}