@import "src/scss/colors";

a {
  text-decoration: none;
  text-align: center;
}

.right {
  justify-content: right;
}

.logIn {
  padding: 9px 10px;
  font-size: 13px;
}

.signUp {
  font-size: 13px;
  padding: 9px 10px;
  border: 1px solid $color3;
}